/* Container holding the image and the text the barcround image is in resources folder*/
.meme {
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    text-align: center;
    color: black;
    font-family: impact;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    margin: auto;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
  }